
[Unit]
Description=Restore iptables firewall rules
Before=network-pre.target

[Service]
Type=oneshot
ExecStart=/etc/firewall.sh

[Install]
WantedBy=multi-user.target
